@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
@font-palette-values {
  --Grays: 10;
}
@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

.header-container {
  height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin-top: 110px;

    /* flex-direction: row; */

    margin-bottom: 0px;
}

  
  .text-container {
    width: 40%;
    text-align: center;
    margin: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 100px; */
  }
  
  .title {
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 1.5px;
  }
  .textWelcome{
    color:black;
    font-family: Rocher;
  }
  .textDev{
    color: black;
    font-palette: --Mint;
    font-family: Rocher;
    font-size:80px;
    text-align: center;
  }
  .button {
    width: 312px; /* Adjust button width for responsiveness */
    height: 44px;
    background-color: #3770FF;
    margin-top: 30px;
    border: none;
    color: #ffffff;
    text-size-adjust: 36px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button:hover {
    background-color: #4F8CFF;
  }
  .image-container {
    width: 50%;

    /* height:200px; */
    /* position:relative; */
    /* height:200px; */
    
  }
 
  .image {
    /* max-width: 80%;  */
    height: 500px;
    /* width:50%; */
    margin-left: 70px;
    /* position:absolute;
    top:0; */
  }

  /* Media Query for smaller screens */
  @media only screen and (max-width: 768px) {
    .header-container {
      margin-top: 10rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .text-container,
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px;
    }
  }
  