#footer {
    padding: 10px 0;
  }
  @font-face {
    font-family: 'VT323';
    src: url(https://fonts.googleapis.com/css?family=VT323);
  } 

  @font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
  
  /* Define custom font palette values */
  @font-palette-values {
    --Grays: 20;
  }
  @font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 9;
  }
  @font-palette-values --Purples {
    font-family: Rocher;
    base-palette: 6;
  }
  

  ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
}
.footer-cta {
  border-bottom: 1px solid #373636;
  
}


.single-cta i {
  color: #080e68;
  font-size: 30px;
  float: left;
  align-items: start;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  font-palette: --Mint;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Rocher', sans-serif;

  /* margin-bottom: 2px; */
}
.cta-link {
  transition: transform 0.3s;
}

.cta-link:hover {
  transform: scale(1.05);
}

.cta-text span {
  color: #757575;
  font-size: 15px;
  margin-top: 0px;
}

  .footerContainer {
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    text-align: left;
  }
  
  .footerText {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .FooterTextJoin {
    margin-bottom: 30px;
    
    width: 40%;
  }
  
  .FooterTextJoin h3 {
    font-size: 34px;
    margin-bottom: 15px;
    color: #080e68;
    line-height: 1;
    font-family: 'VT323';
    font-weight: 700;
  }
  
  .FooterTextJoin a {
    font-size: 15px;
    color: blue;
    text-decoration: none;
    margin-bottom: 10px;
   
  }
  
  .FooterTextContact {
    margin-bottom: 30px;
    float: left;
    width: 50%;
    
  }
  
  .FooterTextContact h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: black;
  }
  
  .FooterTextContact ul {
    list-style: none;
    padding: 0;
  }
  
  .FooterTextContact li a {
    text-decoration: none;
    color: gray;
  }
  
  .social-links {
    margin-top: 10px;
    display: flex;
    justify-content: left;
    margin-left: 0px;
    float: left;
  }
  
  .social-links a {
    margin-left: 5px;
    margin-right: 10px;
  }

  .FooterFormdiv {
    margin-bottom: 30px;
    width: 80%;
  }
  
  .FooterFormdiv h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: white;
  }
  
  .FooterFormdiv p {
    margin-bottom: 20px;
    color: gray;
  }
  
  .FooterForm input,
  .FooterForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: white;
  }
  
  .Footerbutton {
    text-align: center;
  }
  
  .Footerbutton button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
@media (max-width: 950px){
    .footerContainer {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
      }
    
      .footerText {
        width: 100%;
        display: flex;
        /* flex-wrap: wrap; */
        align-items: center;
        justify-content: center;
      }
      .FooterTextJoin{
        width: 100%;
      }
      .FooterTextContact{
        width: 100%;
      }
      .FooterTextContact{
        padding-left: 40px;
      }
      .FooterFormdiv {
        width: 100%;
        
      }
}
@media (max-width: 750px){
    .FooterFormdiv {
        width:60%;
        
      }
}
@media (max-width: 595px){
    .FooterFormdiv {
        width: 100%;
        
      }
}